/* resetting styles */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}


/* shared styles */
.btn-prime {
    border-radius: 8px;
    background: #e55473;
    border: 0px;
    padding: 20px 43px;
    color: aliceblue;
    font-size: 15px;
    margin-top: 15px;
}

.highlight {
    color: #e55473;
    ;

}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    margin-bottom: 15px;
    line-break: auto;
}

/* header related styles */

.header {
    background: rgba(229, 84, 115, 0.10);
}

.banner-container {
    display: flex;
    justify-content: space-around;
    padding: 0px 150px;
    align-items: center;

}

.banner-info {
    max-width: 500px;
}

.banner-title {
    color: #272727;
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: 900;
}



/* styles for main section  */


/* main sec bonus number sec */

.bonus-num {
    text-align: center;
    padding-top: 100px;
    width: 80%;
    margin: 50px auto;


}

.bonus-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 40px;

}

.bonus-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 40px;
    width: 60%;
    margin: 0 auto;

}

.bonus-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    align-items: center;


}

.img1 {

    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    background-image: url('./images/pngwing6.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 70%;
    height: 464px;
    width: 500px;

}

.img2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    background-image: url('./images/pngwing5.png');
    background-position: bottom;
    background-size: 300px;
    background-repeat: no-repeat;
    height: 464px;
    width: 500px;

}

.img3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    background-image: url('./images/pngwing7.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 464px;
    width: 500px;
    align-items: center;


}

a {
    position: static;
    margin-top: 480px;
    display: flex;
    justify-content: center;
    font-size: 19px;
    font-weight: 550;
    color: black;

}

/* hot deals section */
.hot-deal-container {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    padding: 70px 150px;
    margin-top: 150px;
    align-items: center;

}

.deal-info {
    text-align: center;
    width: 50%;
}

.deal-title {
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 20px;
}

.deal-img {
    width: 20%;
    padding-bottom: 50px;
}

/* instagram section styles */

.instagram {
    text-align: center;
    margin: 0 auto;
}

.insta-description {
    padding-bottom: 50px;
    width: 60%;
    margin: 0 auto;
}

.insta-img {

    width: 240px;
    height: 290px;
    padding: 0 10px;

}